/* .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-height: 90%;
    overflow-y: auto;
    position: relative;
} */

.close {
    position: absolute;
    top: -10px;
    right: 5px;
    font-size: 24px;
    cursor: pointer;
}
/* 
.search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.search-bar input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

#searchBox {
    flex: 1; 
    min-width:
}

#nameBox {
    flex: 0.3;
    min-width: 100px;
} */

        
.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;            
    background: rgba(255, 255, 255, 0.8);
}

.loader {
    width: 10vw;
    height: 10vw;
    max-width: 100px;
    max-height: 100px;
    min-width: 50px;
    min-height: 50px;
    background: url('../../../images/eyedeea_loading.gif') no-repeat center center;
    background-size: contain;
}


.scanner-loader {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    text-decoration: none;
    color: inherit;    
    column-gap: 15px;
}

.scanner-loader a {
    grid-row: span 2;
    
}

.scanner-loader img {
    grid-column: 2;
    width: 20vw;
    height: auto;
    display: none;
    content: url('../../../images/eyedeea_loading.gif');
}

@media (min-width: 768px) {
    .scanner-loader img {
        width: 5vw;
    }
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding-bottom: 10px;
}

.thumbnail {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.thumbnail:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #555;
    border-top: 1px solid #ddd;
}

.footer-container p {
    margin-left: 10px;
}

#load-more {
    display: none;
}

#load-more.show {
    display: block;
}

dialog {
    width: 90vw;
    height: 55vh;
    border: none;
    padding: 1rem;
    max-width: 900px;
    max-height: 600px;
    
    min-height: 55vh;

    position: fixed;
    top: 18%;
    /* left: 50%;
    transform: translate(-50%, -50%);*/
  }

.fa-icon  {
    text-decoration: none;
    color: darkgray;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

.fa-icon:hover {
    color: #F67878;
}

.icons {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.eyedeea-header{
    display: table;
}

.logo {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    text-decoration: none;
    color: inherit;
    column-gap: 15px;
}

.logo img {
    grid-row: span 2;
    width: 20vw;
    height: auto;
    content: url('../../../images/Eyedeea_Photos_m_logo.png');
}

@media (min-width: 768px) {
    .logo img {
        width: 5vw;
    }
    /* dialog {        
        width: 100vh;
        min-width: 100vh;
    } */
}



@media (min-height: 550px) {
    dialog {
        height: 70vh;        
        min-height: 70vh;
    }
}

.logo h2 {
    grid-column: 2;
    margin: 0;
    align-self: end;
    font-weight: bold;
    font-size: 1.5em;
    
}

.logo h3 {
    grid-column: 2;
    margin: 0;
    align-self: start;    
    color: #F67878;
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);    
    padding-bottom: 3px;
    
}

