.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-height: 90%;
    overflow-y: auto;
    position: relative;
}

.close {
    position: absolute;
    top: -10px;
    right: 5px;
    font-size: 24px;
    cursor: pointer;
}

.search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.search-bar input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

#searchBox {
    flex: 1; /* Takes the remaining space */
    min-width: 0; /* Prevents overflow */
}

#nameBox {
    flex: 0.3; /* Takes 30% of the space */
    min-width: 100px; /* Ensures it doesn't become too small */
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding-bottom: 10px;
}

.thumbnail {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.thumbnail:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #555;
    border-top: 1px solid #ddd;
}

.footer-container p {
    margin-left: 10px;
}

#load-more {
    display: none;
}

#load-more.show {
    display: block;
}




.g-search {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    
}

.g-search-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    
    max-height: 90%;
    overflow-y: auto;
    position: relative;
}

.g-search-search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.g-search-search-bar input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    
}

#loader-container {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-wrapper {
    position: relative;
    width: 489px; /* Adjust based on your GIF size */
    height: 279px;
}

.loader-logo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Behind the GIF */
}

.loader-gif {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* On top */
}